<div class='col-md-4'>
  <div class='card'>
    <img class='card-img-top' src={{image_url}} />

    <div class='card-body'>
      <h5 class='card-title'>{{name}} {{description}}</h5>
      <p class='card-text'>{{tagline}}</p>
      {{!-- <p class='card-text'>{{food_pairing}}</p> --}}
      <p class='card-text'>{{brewers_tips}}</p>
    </div>
  </div>
</div>